html, body, .container-fluid {
    height: 100%;
    color: white;
    align-content: center;
    text-align: center;
    max-width: 900px;
    max-height: 600px;
    margin: auto
  }
  
  html {
    -webkit-app-region: drag;
  }
  
  .container-fluid {
    padding: 25px;
  }

  img{
    width: 300px;
    height: 300px;
    align-content: center;
    justify-content: center;
    margin: auto;
    display: block;
  }

  ul{
    margin: 0%
  }

  li{
    display: inline-block;
    padding: 10px;
  }

  button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    outline-style: none;
    color: #7795f8;
    text-decoration: none;
    transition: all 0.15s ease;
    font-family: Camphor, OpenSans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    font-style: normal;
    box-sizing: border-box;
    cursor: pointer;
    border-style: hidden;
  }
  
  button:active {
    background-color: #f6f9fc;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  button:hover {
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }

  body {
    background-color: white;
  }

  .driver-view {
    display: inline-block;
  }

  .container-fluid {
    border: 1px solid white;
    margin-top: 10px;
    background-color: black;
    float: right;
    widows: 70%;
  }

  .controls {
    background-color: black;
    float: left;
    width: 20%;
  }


