html, body, .container-fluid {
    height: 100%;
    background-color: #111;
    color: white;
    align-content: center;
    text-align: center;
    max-width: 700px;
    max-height: 600px;
    margin: auto
  }
  
  html {
    -webkit-app-region: drag;
  }
  
  .container-fluid {
    padding: 25px;
  }

  img{
    width: 300;
    height: 300;
  }

  li{
    display: inline-block;
  }

  button {
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    outline-style: none;
    color: #7795f8;
    text-decoration: none;
    transition: all 0.15s ease;
    font-family: Camphor, OpenSans, Segoe UI, sans-serif;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    font-style: normal;
    box-sizing: border-box;
    cursor: pointer;
    border-style: hidden;
  }
  
  button:active {
    background-color: #f6f9fc;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  button:hover {
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }
  
  
  input[type=text] {
    -webkit-writing-mode: horizontal-tb;
    height: 38px;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    background-color: #fff;
    font-family: Merriweather;
    font-weight: 300;
    border: 1px solid #d4dada;
    border-radius: 3px;
    box-shadow: none;
    vertical-align: bottom;
    width: 100%;
    overflow: visible;
    font-size: 16px;
  }
  
  input[type=text]:focus {
    border: 1px solid #07682c;
    outline: 0;
  }
